@keyframes additem {
	from {
		right: -100px;
	}
	to {
		left: 100px;
	}
}

body {
	background: url(img/fozgj2a_cw4-lukas-budimaier.jpg) no-repeat center center fixed;
	background-size: cover;
}

md-content {
	background: transparent !important;
	height: 100%;
}

.navbar {
	background: white;
}

.repeated-item.ng-enter,
.repeated-item.ng-move {
	animation-name: additem;
	opacity: 0;
}

.reportDeletebtn {
	position: relative;
	margin-top: -10px;
}
