<md-card flex="50" flex-offset="10" class="md-whiteframe-4dp">
	<div layout="column" layout-align="center center" layout-padding>
		<h1>Welcome to the FlyBox</h1>

		<p>This is a web app designed to help keep all the information a flyfisherman needs right at their fingertips</p>
		<p>App created using:</p>
		<ul>
			<li>AngularJS</li>
			<li>Node.js</li>
			<li>MongoDB</li>
			<li>Express</li>
			<li>Mongoose</li>
		</ul>

		<div layout="column" layout-margin ng-hide="UserService.isAuthenticated()">
			<p>To access everything this sight has to offer, Please Login or Signup below</p>
			<div layout-gt-sm="row">
				<md-button flex="50" class="md-raised md-primary" ui-sref="Login">Login</md-button>
				<md-button flex="50" class="md-raised md-primary" ui-sref="Signup">Signup</md-button>
			</div>
		</div>

	</div>
</md-card>
