<md-card flex="70" flex-offset="15" layout="column" layout-align="center center" md-padding>

	<h1>Signup</h1>

	<form flex layout="column" layout-align="center center">

		<md-input-container>
			<label for="firstname">First Name</label>
			<input type="text" id="firstname" ng-model="user.firstName">
		</md-input-container>

		<md-input-container>
			<label for="lastname">Last Name</label>
			<input type="text" id="lastname" ng-model="user.lastName">
		</md-input-container>
		<md-input-container>
			<label for="username">Username</label>
			<input type="text" id="username" ng-model="user.username">
		</md-input-container>
		<md-input-container>
			<label for="password">State</label>
			<input type="text" id="state" ng-model="user.userAddress.state">
		</md-input-container>
		<md-input-container>
			<label for="password">Address</label>
			<input type="text" id="address" ng-model="user.userAddress.address">
		</md-input-container>
		<md-input-container>
			<label for="passwordRepeat">Password</label>
			<input type="password" id="passwordRepeat" ng-model="user.password">
		</md-input-container>
		<md-input-container>
			<label for="passwordRepeat2">Repeat Password</label>
			<input type="password" id="passwordRepeat2" ng-model="passwordRepeat">
			<span class="text-danger" ng-show="passwordMessage">{{passwordMessage}}</span>
		</md-input-container>
		<md-button ng-click="signup(user)">Signup</md-button>
	</form>

</md-card>
