<md-card md-padding flex="70" flex-offset="15" layout="column" layout-align="center center">

	<h1>Log in</h1>
	<form name="loginForm" layout="column">
		<md-input-container>
			<label for="username">Username</label>
			<input type="username" id="username" ng-model="user.username" required md-max-length="30">
			<div ng-messages="projectForm.description.$error">
				<div ng-message="required">Username is required.</div>
				<div ng-message="md-maxlength">Username must be less than 30 characters long.</div>
			</div>
		</md-input-container>
		<md-input-container>
			<label for="password">Password</label>
			<input type="password" id="password" ng-model="user.password" required>
			<div ng-messages="projectForm.description.$error">
				<div ng-message="required">Please enter a password</div>
			</div>

		</md-input-container>
		<md-button class="md-raised md-primary" ng-click="login(user)">Login</md-button>

	</form>

</md-card>


//TODO: Change Login and signup to panel templates
