<div layout="column" flex layout-gt-sm="row">

	<div flex="50">
		<md-card class="md-whiteframe-4dp md-margin">
			<md-toolbar class="md-padding">
				<h4 class="md-toolbar-tools">Search for Blogs</h4>
			</md-toolbar>

			<form name="blog-search" flex>
				<div layout-gt-sm="row" layout-align="center center">
					<md-input-container flex="75">
						<input type="text" placeholder="Search" ng-model="search">
						<md-tooltip md-direction="bottom">Search for fly-fishing blogs</md-tooltip>
					</md-input-container>
					<md-button id="searchButton" class="md-rainsed md-primary" ng-click="searchRSS(search)"><i class="material-icons">search</i></md-button>
				</div>
			</form>
		</md-card>


		<md-card ng-if="searchResults.length" class="md-whiteframe-4dp md-margin">
			<md-toolbar class="md-padding">
				<h4 class="md-toolbar-tools">Search Results</h4>
			</md-toolbar>
			<md-list ng-repeat="item in searchResults">
				<md-list-item>
					<div class="md-list-item-text">
						<h4>{{ item.title }}</h4>
						<p>{{ item.description }}</p>
					</div><span flex></span>
					<md-button ng-click="addBlog(item)" class="md-accent md-raised"><i class=" material-icons">file_download</i></md-button>
					<md-divider></md-divider>
				</md-list-item>
			</md-list>
			<md-button flex class="md-warn" ng-click="clearSearch()">Clear Search</md-button>
		</md-card>

	</div>
	<md-card ng-if="blogList.length" flex="50" class="md-whiteframe-4dp md-margin">
		<md-toolbar class="md-padding">
			<h4 class="md-toolbar-tools">Blog List</h4>
		</md-toolbar>
		<md-list>
			<md-list-item class="repeated-item" ng-repeat="item in blogList track by $index">
				<md-card-content>{{item.title}}</md-card-content>
				<span flex></span>
				<div layout="row">
					<md-button class="md-raised md-accent md-hue-2" ng-click="visitWebsite(item.website)">Visit Blog</md-button>
					<md-button class="md-raised md-warn" ng-click="deleteBlog(item, $index)"><i class="material-icons">delete_forever</i></md-button>
				</div>
			</md-list-item>
		</md-list>
	</md-card>
</div>
